<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>
<br>
<p><strong>---OR----</strong></p>
<a href="{% url 'social:begin' 'facebook' %}">Login with fb</a><br><br>
<a href="{% url 'social:begin' 'github' %}">Login with Github</a><br><br>
<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
<a href="{% url 'social:begin' 'twitter' %}">Twitter</a>
</body>
</html>
